body{
    margin: 0;
    font: 16px;
    font-family: 'Courier New', monospace;
    color: #4c5454;
}
h1{
    font: 22px;
    margin-left: 20px;
}
h2{
    font: 20px;
    margin-left: 50px;
}
p{
    margin-left: 50px;
}
img{
    float: right;
    width: 400px;
}
ul{
    margin-left: 100px;
}
ol{
    margin-left: 100px;
}
a:link {
  background-color: rgba(255, 217, 0, 0);
  color: green;
}
a:visited {
  color: rgb(34, 139, 34);
  text-decoration-color: rgb(241, 85, 163);
}
a:hover {
  background-color: rgba(255, 217, 0, 0.158);
}